.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
}

.txt-info {
    font-family: Abel;
    padding-bottom: 20px;
}


.info-container {
    display: flex;
    color: var(--txt-color);
    font-family: var(--font--abel);
    font-size: 20px;
    width: 75%;
}

.description-img {
    height: 45vh;
    width: auto;
    border-radius: 10px;

}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.description-title {
    font-family: var(--font-teko);
    color: var(--color-teko);
    font-size: 35px;
    margin-bottom: 3rem;
}

@media screen and (max-width: 900px) {
    .description-container {
        margin-top: 12vh;
    }

   .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .text-container {
    margin: 0;
   }

   .description-img {
    height: 30vh;
    width: 54vw;
    border-radius: 5px;
    margin-bottom: 2rem;
   }

   .txt-info {
    font-size: 0.9em;
   }


    }