.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.nav-list {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.title {
    margin-left: 20px;
}

.nav-txt {
    color: var(--txt-color);
    font-family: var(--font-abel);
    font-size: 25px;
    cursor: pointer;
}